.w-team-mainbox {
  border: 1px solid #393185;
  margin-bottom: 15px;
  margin-top: 15px;
}

.text-bold-blue {
  color: #393185;
  font-weight: bold;
}

.w-team-mainbox .w-team-header {
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #393185;
  background: #efeefc;
}

.act-inact-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-team-contant {
  padding: 15px;
}

.w-team-table {
  max-height: 250px;
  height: auto;
  overflow-y: scroll;
}

.w-team-mainbox .lead-list.orglist {
  margin-bottom: 15px;
  padding: 10px;
}

.w-team-table table tr td,
.history-user table tr td {
  padding: 10px 5px;
}

.lead-left {
  padding: 15px 0px 10px 10px;
}

.lead-right {
  width: 100%;
}

.lead-listing-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.lead-list {
  border: 1px solid #393185;
  position: relative;
}

.lead-list-head {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 8px;
}

.orgdiv-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.orglist .status-lead-head-box,
.orglist .company-link,
.orglist .contact-info-box li,
.orglist .industry-type,
.orglist .rmrk-bottom-lead-main {
  padding-left: 0;
  margin-left: 0;
}

.company-link {
  font-size: 24px;
  color: #393185;
  border-bottom: 1px solid #393185;
  font-weight: 700;
  line-height: 24px;
  margin: 5px 10px 10px 10px;
  display: inline-flex;
}

.lead-list {
  display: flex;
  gap: 10px;
  color: #000;
}

/* New flow of my group */

.create-group-org {
  padding: 10px;
  background: #393185;
  color: #fff;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 700;
}

.create-group-org:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.modal-dialog.custom-full {
  max-width: 80%;
  margin: 1.75rem auto;
}

.section-header {
  background-color: #f1edff;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: #333;
}

.org-box {
  border: 1px solid #393185;
  padding: 15px;
  background-color: #fff;
  margin-top: 0% !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-right: 10px; /* Optional: space for scrollbar */
}

.section-header {
  background-color: #f1edff;
  border: 1px solid #393185 !important;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px !important;
}

.modal-content {
  padding: 20px;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary {
  background-color: #393185 !important;
  border-color: #393185 !important;
  border-radius: 0px !important;
  font-size: 0.875rem;
}

.btn.btn-primary:focus,
.btn.btn-primary:active,
.btn.btn-primary:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.lead-left {
  padding: 10px 0px 10px 10px;
}

.lead-right {
  width: 100%;
}

.orgdiv-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.company-link {
  font-size: 24px;
  color: #393185;
  border-bottom: 1px solid #393185;
  font-weight: 700;
  line-height: 24px;
  margin: 5px 10px 10px 10px;
  display: inline-flex;
}

.org-other-info {
  padding: 0 5px;
  position: relative;
}

.tootltip-org {
  position: absolute;
  width: 350px;
  height: 135px;
  background: #fff;
  z-index: 1;
  top: -140px;
  left: -161px;
  box-shadow: 5px 7px 10px #58383866;
  padding: 12px;
  display: none;
  font-size: 12px;
}

.tootltip-org::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.org-other-info:hover .tootltip-org {
  display: block;
}

.inconsistent-org {
  position: absolute;
  width: 350px;
  height: 92px;
  background: #fff;
  z-index: 1;
  top: -94px;
  left: -116px;
  box-shadow: 5px 7px 10px #58383866;
  padding: 10px;
  display: none;
  font-size: 14px;
}

.inconsistent {
  color: red;
  text-decoration: underline;
}

.contact-info-box {
  display: flex;
  list-style: none;
  gap: 0px;
  margin: 0px;
  padding: 0px;
}

.industry-type {
  margin: 5px 10px;
  font-size: 16px;
}

.orglist .status-lead-head-box,
.orglist .company-link,
.orglist .contact-info-box li,
.orglist .industry-type,
.orglist .rmrk-bottom-lead-main {
  padding-left: 0;
  margin-left: 0;
}

.contact-info-box li::before {
  content: "";
  position: absolute;
  right: 0px;
  border-right: 1px solid #393185;
  height: 15px;
  top: 5px;
}

.orglist .contact-info-box li {
  margin-right: 10px;
}

.contact-info-box li i {
  margin-right: 5px;
  color: #393185;
}

.contact-info-box li {
  font-size: 16px;
  padding: 0 10px;
  position: relative;
  display: flex;
  align-items: center;
}

.contact-info-box li:last-child::before {
  border-right: 0;
}

.pb-3 {
  margin-top: 30px;
}

.mygrp-btn {
  padding-top: 0.5rem; /* Same as pt-2 */
  padding-bottom: 1rem; /* Same as pb-3 */
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

.Nextlink {
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  background-color: #707070;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.Nextlink:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.cancellink {
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  background-color: #f22b2b;
  margin-left: 5px;
  text-decoration: none;
  cursor: pointer;
  border: 0;
}

.cancellink:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.add-group-org {
  padding: 10px;
  background: #393185;
  color: #fff;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 700;
}

.mygroup-right-search {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.searchButtonmygroup {
  width: 44px;
  height: 40px;
  border: 1px solid #e9e9e9;
  background-color: #393185;
  border-left: none;
  text-align: center;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border-radius: none !important;
}

.searchTerm-bar {
  width: 100%;
  border: 1px solid #e9e9e9;
  border-right: none;
  padding: 5px 10px;
  height: 40px;
  border-radius: 0;
  outline: none;
  color: #000;
  font-size: 14px;
}

.remark-box {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  resize: vertical; /* Allows vertical resizing only */
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.remark-box:focus {
  border-color: #393185; /* Blue border on focus */
}

.savelink {
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  background-color: #393185;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

.savelink:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.go-delete-buttonmy {
  background: #ed1c24;
  color: #fff;
  margin: 0 3px;
  text-decoration: none;
  padding: 5px 10px;
}

.button-color-red:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}

.right-my-group {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.lead-list:hover {
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

/* Optional: Custom scrollbar (for Webkit-based browsers) */
.org-box::-webkit-scrollbar {
  width: 8px;
}

.org-box::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

.org-box::-webkit-scrollbar-thumb {
  background-color: #393185;
  border-radius: 8px;
  border: 2px solid #f0f0f0;
}

.add-fav-box-main {
  position: fixed;
  bottom: 20px;
  right: 0px;
  background-color: #fff;
  /* padding: 20px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease; /* Smooth fade-out transition */

  display: flex;
  padding: 10px;
  align-items: center;
  width: 330px;
  gap: 10px;
  background-color: #05d8215b;
  border-left: 6px solid #05d821;
}

.add-fav-box-main.hidden {
  opacity: 0;
}

.alert.alert-msg {
  display: flex;
  align-items: center;
  padding-right: 52px;
  padding: 10px 100px 10px 50px;
  background-color: #e6f4e7;
  font-size: 24px;
  gap: 10px;
  color: #82c785;
  /* font-weight: 700; */
  border-left: 5px solid #82c785;
}

.backlink {
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  background-color: #393185;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

.backlink:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.snlink {
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  background-color: #393185;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

.snlink:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.Removelink {
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  background-color: #393185;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

.Removelink:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.modal-narrow {
  max-width: 800px;
}

.section-spacing {
  margin-top: 40px; /* adjust as needed */
}

.admin-tag {
  border: 1px solid #707070;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 10px;
  background: #efeefc;
  font-size: 12px;
  font-weight: 500;
}

.add-w-user {
  padding: 10px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #393185;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

.add-w-user:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.do-later {
  padding: 10px 25px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background-color: #393185;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0px;
}

.do-later:hover {
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
}

.label-mygrp {
  display: flex !important;
  align-items: flex-end;
  gap: 10px;
}
/*aryan noob*/